<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <!--<label for="comment">Message:</label>-->
                    <textarea class="form-control" rows="10" id="comment" ng-model="text"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="sample-show-hide" ng-show="score">
                <span ng-repeat="i in scoreRange track by $index">
                    <img ng-src="resources/sad_smiley.jpeg" alt="Sad Face" width="32" height="32"/>
                </span>
            </div>
            <div class="sample-show-hide" ng-show="hateWord">
                <h4>{{ hateWord.vocabulary }}</h4>
                <p>{{ hateWord.meaning }}</p>
            </div>
            <div class="sample-show-hide" ng-show="showIncentive">
                <twitter-widget>
                    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">— We Make Peace
                        (@PeaceCraneProj) <a href="https://twitter.com/PeaceCraneProj/status/778310378233135106">June
                            10, 2015</a></blockquote>
                </twitter-widget>
            </div>
        </div>
        <div class="col-md-4">
            <twitter-timeline
                    twitter-timeline-type="list"
                    twitter-timeline-owner-screen-name="'globaldaily'"
                    twitter-timeline-slug="'global-news'"
                    twitter-timeline-options='{"chrome": "noheader", "width": 250, "height": 500}'>
            </twitter-timeline>
        </div>
    </div>
</div>

<!--<div map-lazy-load="https://maps.google.com/maps/api/js">-->
<!--<ng-map center="current-position"></ng-map>-->
<!--</div>-->